/* ---------- Root variables ------- */
:root {
  /* background and  Color variables */
  --bg-body-Colors: #fff;
  --heading-color: #E8D1C5;
  --bg-li: #e7e7e7;
  --bg-li-hover: #d6cece;
  --bg-side-container: #c5c5c5;
  --bg-ball-color: #555;
  --bg-button-hover-color: #111;
  --cart-delete-color: red;


  /* border Colors */
  --border-color: rgb(203, 203, 203);

  /* Font size variables */
  --font-xs: 0.5rem;
  --font-s: 1rem;
  --font-md: 1.6rem;
  --font-l: 2.2rem;
  --font-xl: 3rem;
  --font-xxl: 4.2rem;
  --font-h1: 22rem;
  --font-error: 19rem;

  /* shadow variables */
  --input-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /*  width variable */
  --container-width: 38rem;
  --button-width: 15rem;
  /* border redius variables */
  --button-border-redius: 0.8rem;
  --border-redius: 1rem;
  --border-redius-md : 1.2rem;

}

/* ----------- Basic Css ----------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------ NavBar ------------ */
.section-Navbar {
  background-color: var(--bg-body-Colors);
}

.section-Navbar .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--font-xs) var(--font-s);
  margin-bottom: var(--font-s);
}

.section-Navbar .navbar .left-Content {
  display: flex;
  align-items: center;
  gap: var(--font-l);
}

.navbar .left-Content img {
  width: 15rem;
  fill: var(--bg-body-Colors);
}

.navbar .left-Content input {
  width: 40rem;
  font-size: var(--font-md);
  padding: var(--font-xs) var(--font-s);
  border-radius: var(--font-xs);
  border: 1px solid var(--border-color);
  box-shadow: var(--input-shadow);
}

.navbar .right-Content {
  display: flex;
  align-items: center;
  gap: var(--font-l);
  font-size: var(--font-md);
  cursor: pointer;
}

.navbar .right-Content img {
  width: var(--font-l);
}
/* ---------- Background img --------- */
.section-Navbar .top-Bar {
  width: 100%;
  height: 82vh;
  padding: var(--font-xs) var(--font-s);
  overflow: hidden;
  background: linear-gradient(90deg, rgba(140, 140, 140, 1) 13%, rgba(120, 120, 120, 1) 48%, rgba(85, 85, 85, 1) 91%);
  position: relative;
}

.top-Bar .background-Text {
  background-color: transparent;
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.background-Text h1 {
  position: absolute;
  font-weight: 700;
  font-size: var(--font-h1);
  top: 57%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: var(--heading-color);
  letter-spacing: var(--font-md);
  z-index: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-Text img {
  width: 43rem;
  position: absolute;
  top: 52%;
  left: 49%;
  transform: translate(-50%, -50%);
}
/* --------- Category section --------- */
.category-Section ul {
  margin: var(--font-l) var(--font-xl);
  display: flex;
  gap: var(--font-l);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: var(--font-md);
}

.category-Section ul li {
  list-style-type: none;
  background-color: var(--bg-li);
  padding: var(--font-xs) var(--font-s);
  border-radius: var(--font-l);
  cursor: pointer;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: background-Color 0.1s ease, transform 0.2s linear;
}

.category-Section ul li:hover {
  background-color: var(--bg-li-hover);
  scale: 1.1;
  box-shadow: rgba(234, 234, 234, 0.19) 0px 5px 7px, rgba(0, 0, 0, 0.23) 0px 3px 5px;
}
/* ----------- Main body --------- */
.main-Body {
  width: 100%;
  padding: var(--font-s);
  display: flex;
  gap: var(--font-l);
}
/* --------- Side bar ---------- */
.aside-Container {
  display: flex;
  flex-direction: column;
  gap: var(--font-md);
  background-color: var(--bg-side-container);
  border-radius: var(--font-s);
  padding: var(--font-xs) var(--font-xs) ;
  width: var(--container-width);
  height: fit-content;
}

.aside-Container .price-Filter-Section {
  padding: var(--font-s);
  border-radius: var(--font-s);
  background-color: var(--bg-body-Colors);
  display: flex;
  flex-direction: column;
  font-size: var(--font-md);
  gap: var(--font-md);
}

.price-Filter-Section input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20rem;
  background-color: transparent;
}

.price-Filter-Section input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: linear-gradient(90deg,
      rgba(140, 140, 140, 1) 13%,
      rgba(120, 120, 120, 1) 48%,
      rgba(85, 85, 85, 1) 91%);
}

.price-Filter-Section input[type="range"]::-moz-range-track {
  height: 3px;
  background: linear-gradient(90deg,
      rgba(140, 140, 140, 1) 13%,
      rgba(120, 120, 120, 1) 48%,
      rgba(85, 85, 85, 1) 91%);
}

.price-Filter-Section input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: var(--font-md);
  width: var(--font-md);
  position: relative;
  bottom: 0.7rem;
  background: var(--bg-ball-color) url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png") center no-repeat;
  background-size: 50%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.aside-Container .total-Price-Section {
  padding: var(--font-s);
  border-radius: var(--font-s);
  background-color: var(--bg-body-Colors);
  display: flex;
  flex-direction: column;
  font-size: var(--font-md);
  gap: var(--font-md);
}

.cart {
  width: 100%;
  padding: var(--font-s);
  background-color:var(--bg-body-Colors);
  font-size: var(--font-l);
  word-spacing: var(--font-xs);
  letter-spacing: 0.1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: var(--font-s);
}

.cart .productName {
  font-size: var(--font-l);
  word-spacing: 0;
  margin-bottom: var(--font-l);
}

.main-Body .grid-Container {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  gap: var(--font-xl) var(--font-l);
  padding: var(--font-s);
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--font-md);
  border-radius: var(--font-l);
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.card .img-Container {
  padding: var(--font-s);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .img-Container img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-radius: var(--font-xl);
}

.card .product-Details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: var(--font-s);
  padding: 0 0.7rem;
}

.product-Details h3 {
  font-size: var(--font-l);
  text-align: start;
}

.product-Details p {
  font-size: var(--font-md);
}

.product-Details .price-tag {
  font-size: var(--font-md);
  font-weight: 600;
}

.end-row {
  width: 100%;
}

.add-cart-btn {
  padding: var(--font-xs) var(--font-s);
  background-color: var(--bg-ball-color);
  border: none;
  border-radius: 1rem;
  color: var(--bg-body-Colors);
  font-weight: 700;
  letter-spacing: 1.55px;
  font-size: var(--font-md);
  width: 100%;
  margin-bottom: var(--font-s);
}

.add-cart-btn:hover {
  background-color: var(--bg-button-hover-color);
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: var(--border-redius-md);
  margin-bottom: var(--font-xs);
  border:  3px solid green;
  width: fit-content;
  padding: var(--font-xs) var(--border-redius-md);
  border-radius: var(--font-l);
}

.qty-minus,
.qty-plus {
  background-color: var(--bg-body-Colors);
  border: 1px solid var(--bg-side-container);
  padding: var(--font-xs) ;
  border-radius: 0.3rem ;
  font-size: var(--font-md);
}

.qty-count {
  font-size: var(--font-md);
}
.load-More-Button{
  padding: var(--font-s) var(--font-xxl);
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: transparent;
}
.loadBtn {
  padding: var(--font-xs) var(--font-s);
  border: none;
  font-size: var(--font-md);
  background-color: var(--bg-button-hover-color);
  color: var(--bg-body-Colors);
  border-radius: var(--button-border-redius);
  width: var(--button-width);
}

.cart-item {
  overflow: hidden;
  background-color: #fff;
  padding: var(--font-s) var(--font-xs);
  border-radius: var(--border-redius);
}

.cart-item img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  margin-bottom: var(--font-l);
}

.cart-info h4 {
  padding: var(--font-xs);
  font-size: var(--font-md);
  margin-bottom: var(--button-border-redius);
}

.cart-info p {
  padding: 0 var(--font-xs);
  font-size: var(--font-md);
  font-weight: 600;
}

.qty-controls span {
  font-size: var(--font-l);
}
.error-page{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111;
  display: none;
}
.error-page img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}